.panel{
  position: absolute;
  background-color: lightgoldenrodyellow;
  border: 3px solid burlywood;
  -webkit-box-shadow: 7px 5px 15px 3 px rgba(0, 0, 0, 0.9);
  box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
  z-index: 1;
}

.header{
  height: 80px;
  width: 300px;
  left: 50%;
  top: 30px;
  margin-left: -120px;
}

.header-text{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  width: 200px;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.footer{
  top: 570px;
}

.footer button{
  font-weight: bold;
  font-size: 30px;
  height:50px; 
  width:250px; 
  margin-left:  -120px; 
  position:relative;
  top:20%; 
  left:50%;
  background-color: lightblue  ;
  border: 5px solid chocolate;
  border-radius: 8%;
}

.gameBoard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  padding: 20px;
  width: 520px;
  position: absolute;
  left: 50%;
  margin-left: -250px;
  top: 15%;
  background-color: bisque;
  border: 6px solid burlywood;
  border-radius: 8%;
  -webkit-box-shadow: 7px 5px 15px 3 px rgba(0, 0, 0, 0.9);
  /* box-shadow: 7px 5px 15px 3px rgb(192, 98, 98); */
  box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
}

.gameCircle{
  width: 90px; 
  height: 90px;
  margin: 7px;
  border-radius: 50%;
  border: 3px solid black;
}

.player_0{
  background-color: rgb(232, 238, 153);
}

.player_1{
  background-color: red;
}

.player_2{
  background-color: blue;
}
