/* For side boards rendering */
:root{
    --background-color: cornflowerblue;
    --board-background-color: bisque;
    --panel-background-color: lightgoldenrodyellow;
    --panel-border-color: burlywood;
    --no-player: ;
    --player_1: red;
    --player_2: blue;
  }
  
  body{
    background-color: var(--background-color);
  }
  
  .app{
    width: 670px;
    height: 670px;
    display: flex;
    position: relative;
    left: 24%;
  }
  
  .panel{
    position: absolute;
    background-color: var(--panel-background-color);
    border: 3px solid var(--panel-border-color);
    -webkit-box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
    box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
    z-index: 1;
  }
  
  .header{
    height: 80px;
    width: 300px;
    left: -40%;
    top: 40%;
    /* margin-left: -120px; */
  }
  
  .header-text{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    width: 200px;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .footer{
    top: 40%;
    display: grid;
    left: 105%;
    grid-template-columns: 1fr 1fr;
  }
  
  .footer button{
    font-weight: bold;
    font-size: 22px;
    height:60px; 
    width:160px; 
    /* margin-left: -60px; used when both the buttons were active together */
    position:relative;
    top:12%; 
    left:47%;
    -webkit-box-shadow: 7px 5px 10px 2px rgba(0, 0, 0, 0.9);
    box-shadow: 7px 5px 10px 2px rgba(0, 0, 0, 0.9);
    background-color: lightblue;
    border: 5px solid chocolate;
    /* border-radius: 10%; */
  }
  
  .footer button:hover{
    /* background-color:rgb(221, 121, 221); */
    background-color: black;
    color: white;
  }
  
  .gameBoard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    padding: 20px;
    width: 520px;
    position: absolute;
    left: 50%;
    margin-left: -250px;
    top: 10%;
    background-color: var(--board-background-color);
    border: 6px solid var(--panel-border-color);
    border-radius: 8%;
    -webkit-box-shadow: 7px 5px 15px 3 px rgba(0, 0, 0, 0.9);
    /* box-shadow: 7px 5px 15px 3px rgb(192, 98, 98); */
    box-shadow: 7px 5px 15px 3px rgba(0, 0, 0, 0.9);
  }
  
  .gameCircle{
    width: 90px; 
    height: 90px;
    margin: 7px;
    border-radius: 50%;
    border: 3px solid black;
  }
  
  .player_0{
    background-color: rgb(240, 245, 167);
  }
  
  .player_1{
    background-color: var(--player_1);
  }
  
  .player_2{
    background-color: var(--player_2);
  }
  